@model IEnumerable<Parking.Data.Entities.Cliente>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<p>
    <a asp-action="CrearCliente" class="btn btn-outline-primary"><i class="fa-solid fa-person"></i></a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Clientes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Cedula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Correo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumeroVehiculos)
                            </th>                            
                            <th>
                                @Html.DisplayNameFor(model => model.NumeroPlanes)
                            </th>  
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Cedula)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem=> item.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.NumeroVehiculos)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.NumeroPlanes)
                                </th>
                                <td>
                                    <a asp-action="EditarCliente" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fa-solid fa-circle-info"></i></a>
                                    <a asp-action="Borrar" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
        });
    </script>
}